﻿@model IEnumerable<HousesViewModel>


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var house in Model)
    {
        <a asp-controller="House" asp-action="Details" asp-route-Id="@house.Id" class="nav-link text-black card col-4" style="width: 20rem;">
            <div class="card col-4" style="width: 20rem;">
                <img class="card-img-top" src="@house.ImageUrl" alt="House Image">
                <div class="card-body">
                    <h5 class="card-title">@house.Name</h5>
                    <p class="card-text">@house.Address</p>
                </div>
            </div>
        </a>
    }
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        <a class="btn btn-primary" role="button" asp-controller="House" asp-action="CreateHouse">Register house</a>
    </div>
</footer>